.container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 12px;

}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

.title {
  font-size: 16px;
  color: #8c8c8c;
  text-transform: capitalize;
}

.list {
  width: 100%;
  height: 100%;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  color: #404040;
  margin: 0;

  max-height: calc(2 * 40px); /* 리스트 항목 5개 높이 제한 */
  overflow-y: auto;

  /* 스크롤바 스타일 */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 144, 255, 0.3) transparent;
}

.list::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 144, 255, 0.3);
  border-radius: 3px;
}

.list li {
  padding: 8px 20px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  height: 40px; 
  display: flex;
}

/* 선택된 항목 */
.selected {
  background-color: #e6f3ff;
  border-left: 2px solid #0090ff;
  font-weight: bold;
  color: #0090ff;
}

/* 호버 효과 */
.list li:hover {
  width:100%;
  background-color: #f0f8ff;
  border-left: 2px solid #0090ff;
  color: #0090ff;
  font-weight: bold;
}
