
/*최상위박스*/
.writeBox{
    padding: 10px 30px 0 30px;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*윗부분 보더라인박스영역*/
.parent{
    border-radius: 22px;
    background-color: #fff;
    border: 1px solid #8c8c8c;

     align-self: stretch;
     height: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;

     padding: 10px;
}
/*설명*/
.description{
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.type{
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 600;
    /* justify-content: center; */

}
/*제목*/
.titlebox{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 12%;
    width: 100%;

    border-bottom: 1px solid #8c8c8c;
}
.title{
    width: 96%;
    height: 55%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 30px;
}

/*파일*/
.fileWrapper{
    padding-top: 10px;
    width: 100%;
    height: 13%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.filebox{
    height: 70%;
    width: 96%;


    display: block;
    border: 1px solid gray;

    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}
.hiddenFileInput {
    display: none;
}
.customFileBtn {
    display: block;
    color: darkgray;
    font-weight: bold;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    overflow-y: auto;
}
.chooseFileText {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*글*/
.contentbox{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 68%;
    width: 100%;
}
.content{
    width: 96%;
    height: 98%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 15px;

    overflow-y: auto;
}


/*버튼영역*/
.btns{
     width: 100%;
     height: 10%;
     display: flex;
     align-items: center;
     justify-content: flex-end;
      
     font-size: 18px;
     font-family: Pretendard;
     gap: 25px;
}

button{
     height: 48px;
     width: 200px;
     border-radius: 22px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 16px;
     box-sizing: border-box;
}

.btn1{/*회색*/
    background-color: #d9d9d9;
}
.btn2{ /*파랑*/
    background-color: #0090ff;
}