/* ---------------------------- */
/* 상태 컬러 */
.inProgress {
  color: var(--color-font-color2);
  font-weight: 500;
}

.approved {
  color: var(--color-primary);
  font-weight: 600;
}

.denied {
  color: var(--color-delete-hover);
  font-weight: 600;
}

.from {
  font-weight: 600;
  font-size: 16px;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--color-font-color1);
  border: 1px solid var(--color-font-color2);
  border-radius: var(--border-radius-main);
  padding: 20px;
  box-sizing: border-box;
}

/* 버튼 제외 글 불러오는 박스 */
.parent {
  width: 100%;
  height: 90%;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--color-font-color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 헤더 */
.parentHeader {
  width: 100%;
  height: 20%;
  display: flex;
  border-bottom: 1px solid var(--color-font-color2);
}

/* 헤더 - 이메일 */
.headerEmail {
  padding-top: 2px;
  float: left;
  height: 100%;
  width: 20%;
}

/* 헤더 - 시작 */
.header_start_at {
  width: 35%;
  height: 100%;
  float: left;
}

.startBoxRight {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
}

/* 헤더 - 끝 */
.header_end_at {
  width: 35%;
  height: 100%;
  float: left;
}

.endBoxRight {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
}

/* 시작/끝 공용 */
.selectGroup {
  display: flex;
  align-items: center;
  height: 90%;
}

select {
  height: 100%;
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-main);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-family: var(--font-family);
  text-align: center;
  text-align-last: center;
}

.dateInputBox {
  height: 100%;
  display: flex;
  align-items: center;
}

.dateInputBox input[type="date"] {
  margin-right: 10px;
  width: 140px;
  height: 90%;
  padding: 8px;
  font-size: var(--font-size-small);
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  font-family: var(--font-family);
  border-radius: var(--border-radius-main);
  text-align: center;
}

.disabled {
  color: #999999;
  background-color: #f0f0f0;
}

/* 헤더 - 상태 */
.header_status {
  float: left;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 10%;
  padding-top: 6px;
}

/* 바디 */
.parentBody {
  width: 100%;
  height: 250px;
  padding: 10px;
  overflow: hidden;
}

.txtActive {
  border: 2px solid var(--color-primary);
  border-radius: 6px;
}

.txt {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 5px;
}

/* 버튼 */
.btns {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
  font-size: var(--font-size-large);
  color: var(--color-white);
  font-family: var(--font-family);
  gap: 25px;
}

button {
  height: 48px;
  width: 200px;
  border-radius: var(--border-radius-main);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
}

.btn1 {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn2 {
  color: var(--color-delete-hover);
  background-color: var(--color-delete);
}

.btn3 {
  background-color: var(--color-font-back);
}

/* --------------------------------------------------------- */
/* 반응형: 작은 화면 */
@media (max-width: 1150px) {
  .headerEmail {
    display: none;
  }

  /* 스코프 동일하게 */
  .dateInputBox input[type="date"] {
    width: 120px;
    font-size: 14px;
    padding: 6px;
  }

  .header_start_at {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }

  .header_end_at {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }
}


/* --------------------------------------------------------- */
/* 반응형: 작은 화면 */
@media (max-width: 880px) {
  .headerEmail {
    display: none;
  }

  /* 스코프 동일하게 */
  .dateInputBox input[type="date"] {
    width: 100px;
    font-size: 12px;
    padding: 6px;
  }

  .header_start_at {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }

  .header_end_at {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }
}



/* 모바일 대응 (768px 이하) */
@media (max-width: 768px) {
  .parentHeader {
    padding-bottom: 15px;
  }

  /* 스코프 동일하게 */
  .dateInputBox input[type="date"] {
    width: 140px;
    font-size: 14px;
    padding: 6px;
  }

  .header_start_at {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }

  .header_end_at {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }
}

@media (max-width: 655px) {
  select{
    display: none;
  }
}


/* 더 작은 화면 (435px 이하) */
@media (max-width: 470px) {

  /* 여기도 동일하게 */
  .dateInputBox input[type="date"] {
    width: 90px;
    font-size: 10px;
    padding: 3px;
  }
  .header_status{
    font-size: 10px;
  }
}