/* 최상위 래퍼 */
.submenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: white;
  border-left: 1px solid #eee;
  min-width: 220px;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* 작성하기 버튼 */
.addParent {
  width: 80%;
  height: 48px;
  border-radius: 22px;
  background-color: #0090ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: Pretendard;
  cursor: pointer;
  margin: 0 auto;
  box-sizing: border-box;
}

.addIcon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.div {
  font-weight: 800;
  text-transform: capitalize;
}

/* 버튼 탭 묶음 */
.tabWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.tab {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #404040;
  border-left: 2px solid transparent;
}

.tab:hover {
  background-color: #eef6ff;
  border-left: 2px solid #0090ff;
  font-weight: bold;
}

.active {
  border-left: 2px solid #0090ff;
  background-color: #eef6ff;
  font-weight: bold;
}

/* 반응형 (모바일) */
@media (max-width: 768px) {
  .submenuWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-left: none;
    border-bottom: 1px solid #eee;
    padding: 40px 16px 30px;
    gap: 10px;
    min-width: 100%;
    height: auto;
  }

  .addParent {
    width: 90%;
    height: 36px;
    font-size: 14px;
    padding: 0 14px;
    border-radius: 18px;
    margin-bottom: 10px;
  }

  .tabWrapper {
    flex-direction: row;
    width: 100%;
    gap: 6px;
  }

  .tab {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border-left: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    text-align: center;
  }

  .tab:hover {
    background-color: #eef6ff;
    border-bottom: 2px solid #0090ff;
    font-weight: bold;
  }

  .active {
    border-bottom: 2px solid #0090ff;
    font-weight: bold;
    background-color: #eef6ff;
  }
}
