.contactList {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-main);
  background-color: var(--color-white);
  border: 1px solid var(--color-font-color2);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-font-color1);
  font-family: var(--font-family);
  box-sizing: border-box;
  overflow: auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem; /* 30px */
}

.title {
  width: 40%;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.searchBox {
  display: flex;
  align-items: center;
  width: 40%;
  height: 3rem; /* 48px */
  border: 1px solid var(--color-font-color2);
  border-radius: 144px;
  padding: 0 1rem; /* 16px */
  font-size: var(--font-size-base);
  color: var(--color-font-color2);
  background-color: var(--color-white);
  justify-content: space-between;
}

.searchInput {
  border: none;
  outline: none;
  width: 80%;
  font-size: var(--font-size-base);
  color: var(--color-font-color1);
}

.tableHeader,
.tableRow {
  display: flex;
  margin: 0 1.875rem; /* 30px */
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tableHeader {
  font-size: 1.125rem;
  font-weight: 500;
  border-bottom: 1px solid var(--color-font-color2);
}

.tableRow {
  font-size: 1.125rem;
  padding: 1rem 0; /* 16px 0 */
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.5rem; /* 12px 8px */
  box-sizing: border-box;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.cell.number {
  flex: 0.08;
}
.cell.name {
  flex: 0.12;
}
.cell.company {
  flex: 0.2;
}
.cell.email {
  flex: 0.2;
}
.cell.phone {
  flex: 0.15;
}
.cell.group {
  flex: 0.25;
}

/* 버튼 그룹 */
.buttonGroup {
  display: flex;
  border-radius: var(--border-radius-main);
  overflow: hidden;
  background-color: var(--color-sud-color2);
  height: 2.5rem; /* 40px */
  width: 100%;
  max-width: 15rem; /* 240px */
}

/* 버튼 */
.button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 활성 상태 */
.button.active {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-sud-color2);
  font-weight: 700;
  opacity: 0.9;
}

/* 비활성 상태 */
.button.inactive {
  color: var(--color-font-back);
  background-color: var(--color-sud-color2);
}

.button.inactive:hover {
  background-color: var(--color-sud-color1);
  color: var(--color-white);
  opacity: 0.9;
}

/* 공지사항이 없을 경우 */
.contactEmptyContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family);
  color: var(--color-font-back);
}

.contactEmptyText {
  font-size: var(--font-size-base);
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 0.75rem; /* 12px */
}

.contactEmptyIcon {
  width: 3.5rem; /* 56px */
  height: 3.5rem;
  object-fit: cover;
}

/* 테블릿 대응 */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem; /* 20px */
  }

  .title {
    width: 100%;
    margin-bottom: 0.9375rem; /* 15px */
  }

  .searchBox {
    width: 100%;
    height: 2.25rem; /* 36px */
    font-size: 0.875rem;
  }

  .searchInput {
    font-size: 0.875rem;
  }

  .tableHeader,
  .tableRow {
    margin: 0 1.25rem; /* 20px */
    font-size: 1rem;
  }

  .tableHeader .cell.number,
  .tableRow .cell.number,
  .tableHeader .cell.email,
  .tableRow .cell.email {
    display: none;
  }

  .cell.name {
    flex: 0.2;
  }
  .cell.company {
    flex: 0.25;
  }
  .cell.phone {
    flex: 0.2;
  }
  .cell.group {
    flex: 0.35;
  }

  .buttonGroup {
    max-width: none;
    height: 2.25rem;
  } /* 36px */
  .button {
    font-size: 0.875rem;
    height: 2.25rem;
  }
}

/* 모바일 대응 */
@media (max-width: 487px) {
  .contactList {
    padding: 0.875rem; /* 14px */
  }
  .header {
    padding: 0;
  }
  .searchBox {
    width: 100%;
    height: 2rem;
    font-size: 0.75rem;
    padding: 0 0.75rem;
  }
  .tableHeader,
  .tableRow {
    margin: 0;
    font-size: 0.875rem;
    padding: 0;
    overflow-x: auto;
  }

  .tableHeader .cell.number,
  .tableRow .cell.number,
  .tableHeader .cell.company,
  .tableRow .cell.company,
  .tableHeader .cell.email,
  .tableRow .cell.email {
    display: none;
  }

  .cell.name {
    flex: 1;
    font-size: 0.75rem;
  }
  .cell.phone {
    flex: 1.5;
    font-size: 0.75rem;
  }
  .cell.group {
    flex: 2;
  }

  .buttonGroup {
    height: 2rem;
    font-size: 0.75rem;
  }
  .button {
    font-size: 0.75rem;
    height: 2rem;
  }

  .noContacts {
    font-size: 0.875rem;
  }
}
