.frameParent {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 30px;
  padding: 30px;
}

.attendance {
  flex: 0.3; /* 전체의 60% */
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  min-height: 0;
}

.annual {
  flex: 0.7; /* 전체의 40% */
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
}
.attendance > div:nth-child(1) /* Div1 */ {
  flex: 0.3; /* 30% */
}
.attendance > div:nth-child(2)  /* Div2 */ {
  flex: 0.1; /* 10% */
}

.attendance > div:nth-child(3) {
  /* Div3 */
  flex: auto; /* 60% */
}

.annual > div:nth-child(1) /* Div4 */ {
  flex: 0.3; /* 30% */
}
.annual > div:nth-child(2)  /* Div5 */ {
  flex: 0.7; /* 10% */
}

/* 반응형 */
@media (max-width: 768px) {
  .frameParent {
    flex-direction: column;
    height: auto; /* 세로 방향이라 높이 자동으로 */
  }
  .attendance,
  .annual {
    flex: none;   /* flex-grow, flex-shrink 모두 제거 */
    width: 100%;  /* 부모 너비 100%로 꽉 채우기 */
    min-height: auto;
  }
}