.container {
  width: 100%;
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-main);
  background-color: var(--color-white);
  border: 1px solid var(--color-font-color2);
  box-sizing: border-box;
  padding: 20px;
  font-family: var(--font-family);
  font-size: 1.1rem;
  color: var(--color-font-color1);
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding-left: 16px;
  margin: 0;
}

/* 출퇴근 시간 표시 영역 */
.timeSection {
  width: 100%;
  min-height: 100px;
  border-radius: var(--border-radius-body);
  background-color: var(--color-sud-color2);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.timeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.label {
  font-size: 16px;
  color: var(--color-font-color2);
}

.timeText {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-font-color1);
}

.separator {
  width: 40px;
  height: auto;
}

/* 버튼 그룹 */
.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.checkInBtn,
.checkOutBtn,
.button {
  flex: 1;
  padding: 12px 0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover:not(:disabled) {
  transform: scale(1.02);
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.disabled {
  background-color: var(--color-font-back);
  color: var(--color-white);
  cursor: not-allowed;
}

/* ------------------------------------------------------- */
/* 반응형 */
/* 태블릿 (768px~1249px) */
@media (max-width: 1250px) {
  .container {
    padding: 20px;
    font-size: 1rem;
  }

  .title {
    font-size: 20px;
    padding-left: 8px;
  }

  .timeSection {
    min-height: 80px;
    gap: 10px;
  }

  .timeText {
    font-size: 14px;
  }

  .label {
    font-size: 12px;
  }

  .buttonGroup {
    gap: 10px;
  }

  .buttonGroup button {
    border-radius: 30px;
    height: 40px;
  }

  .button {
    font-size: var(--font-size-base);
    padding: 10px 0;
  }
}

/* 모바일 (≤767px) */
@media (max-width: 768px) {
  .container {
    padding: 16px;
    gap: 1rem;
  }

  .title {
    font-size: 18px;
    padding: 0;
  }

  .timeSection {
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    padding: 12px;
  }

  .separator {
    width: 30px;
  }

  .label {
    font-size: 14px;
  }

  .timeText {
    font-size: 16px;
  }

  .buttonGroup {
    gap: 12px;
  }

  .button {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 16px;
  }
}
